img {
  border: 5px solid white;
  width: 100%;
}
html {
  background-color: black;
}

div {
  margin-top: 100;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  color: white;
  background-color: black;
  font-family: "Libre Baskerville", serif;
}
h1 {
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
}
